# Data structure Assignment
1.What are data structure and why they are important?
 - Data structure are specialized formats for organizing , storing and accessing collection of data,they provide effecient ways to manage information based on characteristics and intended use.
  Data structure is important because of following reasons
 -Choosing the right data structure significantly impacts the efficiency and performance of your program.
 Well-chosen data structures can
Simplify data manipulation (adding, removing, modifying elements)
.Optimize searching and sorting operations
.Conserve memory usage

 2.  Explain the difference between mutable and immutable data types with examples?
 - In Python, objects can be either changeable (modifiable) or unchangeable (unchangeable).
Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot.

3. What are the main differences between lists and tuples in Python?
- List are Ordered, mutable collections of elements.Lists can hold items of various data types (numbers, strings, even other lists).Data can be modified in lists
- Tuples are Ordered, immutable collections of elements, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

4. Describe how dictionaries store data?
- Dictionaries are unordered collection. Data is stored in a unique key:value pair.Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries)
 for eg- user_id = "sahil" password= 123
 dictionary will store this as a key, value pair {"sahil":123}

5. Why might you use a set instead of a list in Python?
 - In set order doesn't matter, and duplicate entries are not allowed. Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets. where as in list duplicate entry is possible
 - set operations like Union , Intersection , Difference are very useful

6. What is a string in Python, and how is it different from a list?
- Strings is a sequence of character , represent and manipulate data . strings is immutable . string can be alphanumeric . Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.)
- difference between string and list
 - string is a sequence of characters (text). Each character in a string is an individual element, and you can access them using indexing where as a list can contain elements of any data type, including integers, strings, objects, or even other lists. It's more flexible because it can hold different kinds of data.
 - Strings are immutable where as list are mutable

7. How do tuples ensure data integrity in Python?
- tuples help ensure data integrity by being immutable. This immutability is what differentiates tuples from other data structures like lists, and it plays a key role in preserving the integrity of the data they store.
- Once a tuple is created, its content cannot be changed. You cannot add, remove, or modify elements in a tuple after it's created.

8. What is a hash table, and how does it relate to dictionaries in Python?
- In Python, the dictionary (dict) is an implementation of a hash table.A hash table is a data structure that stores data in key-value pairs. It uses a hash function to compute an index (or "hash code") into an array of buckets or slots, from which the desired value can be found. Hash tables are designed to allow for fast insertion, deletion, and lookup of data, making them one of the most efficient data structures for these operations. A Python dictionary stores key-value pairs, and the key is hashed to determine its position in the underlying hash table.

9.Can lists contain different data types in Python?
- yes lists can contain different types OF data. lists can store everything be it string, integers or a float.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python to ensure memory efeciency,data integrity and performance optimisation. This immutability allows Python to optimize memory usage, prevent accidental modifications, and ensure consistent behavior, especially in multi-threaded environments.

11.What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer several advantages over lists for certain tasks -
  - Dictionaries store data as key-value pairs, which allows for more intuitive mappings (e.g., associating a name with a phone number), while lists are simply ordered collections without any key-value structure.

  -Dictionaries enforce unique keys, so you can't accidentally have duplicate keys, which helps avoid overwriting data, unlike lists where you can have repeated elements.

12. Describe a scenario where using a tuple would be preferable over a list?
 - tuple would be preferable over a list when you need to store immutable data that should not be modified. For example, when representing  (Employee ids), here the values should remain constant throughout the program, a tuple is ideal. Using a tuple ensures that the data cannot be accidentally changed.

13.  How do sets handle duplicate values in Python?
 - In Python, sets automatically remove duplicate values. A set only stores unique elements; if you try to add a duplicate element, it is simply ignored, and the set retains only one instance of that element.

14. How does the “in” keyword work differently for lists and dictionaries?
 - The in keyword works differently for lists and dictionaries in Python because of how each data structure is organized:
  - For lists- When using in with a list, it checks if the specified value exists in the list. It returns True if the value is found, and False otherwise. This requires iterating over the entire list.
  - for dictionary- When using in with a dictionary, it checks if the specified key exists in the dictionary. It does not check the values, but instead looks for the presence of the key in the dictionary's set of keys.

15. Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable. Once a tuple is created, its contents cannot be changed, added to, or removed. The immutability of tuples ensures that their data remains constant throughout the program, providing benefits like data integrity and hashability.

16.  What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary where the values can themselves be dictionaries (or any other data structure, such as lists or tuples). This allows you to create more complex structures, where you can store hierarchical or related data
  example- students =
   { "sahil": {"age": 20, "grade": "A", "subjects": ["Math", "Science"]}

17.Describe the time complexity of accessing elements in a dictionary?
 - In Python, the time complexity of accessing elements in a dictionary is O(1), or constant time, on average. This means that no matter how large the dictionary is, accessing an element by its key takes roughly the same amount of time.

18. In what situations are lists preferred over dictionaries?
 - Lists are preferred over dictionaries when order matters, as they preserve the sequence of elements. They are ideal for simple collections of values where indexing is required, and when duplicates are needed. Lists are also more suitable for small or simple data sets where key-value pairing is unnecessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because they store data based on hash values, not in a specific sequence. While Python 3.7+ preserves insertion order, this is an implementation detail, not a guarantee. Data retrieval is efficient via keys, but you cannot access elements by their position like in a list.

20.Explain the difference between a list and a dictionary in terms of data retrieval?
 - In a list, data is retrieved by index, which is a position-based system. You access elements using their numerical index, and the order of elements matters.
  -In a dictionary, data is retrieved by key, which is a unique identifier for each value. The key-value pair structure allows for fast lookups, and order is not guaranteed (though it is preserved in Python 3.7+). Dictionaries provide efficient O(1) average time complexity for key-based lookup

## Practical questions

1. Write a code to create a string with your name and print it

In [ ]:
name = "Deepanshu kaushik"
print (name)

Deepanshu kaushik

2. Write a code to find the length of the string "Hello World"?

In [ ]:
a = "Hello world"
len(a)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
String = "python programming"
String[0:3]

'pyt'

 4.Write a code to convert the string "hello" to uppercase?

In [ ]:
s = "hello"
s.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
s.replace("apple","orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers= [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
number = [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
a = ["a","b","c","d"]
a[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
number = [10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
elements = (100,200,300)
print(elements)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
elements = ('red','green','blue','yellow')
elements[-2]

'blue'

13.. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
number = (10,20,5,15)
min(number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animal = ('dog','cat','rabbit')
animal.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits= ('apple','banana','kiwi')
print('kiwi' in fruits)

True

In [ ]:
16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
elements = {'a','b','c'}
print(elements)
type(elements)

{'a', 'c', 'b'}

set

17.. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
elements = {1,2,3,4,5}
elements.clear()
print(elements)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
elements = {1,2,3,4}
elements.remove(4)
print(elements)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
a = {1,2,3}
b = {3,4,5}
print (a|b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
a = {1,2,3}
b = {2,3,4}
print(a&b)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dict = {"name" : "Deepanshu" ,"age" : 27 , "city" : "Rohtak"}
print (my_dict)

{'name': 'Deepanshu', 'age': 27, 'city': 'Rohtak'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
my_dict = {'name': 'alice' , 'age' : 30}
my_dict["name"]

'alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
my_dict = { 'name':'Bob', 'age':22, 'city': 'New york'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'alice', 'city': 'paris'}
print('city' in my_dict)

True

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
my_tuple = (6,7,8,9,10)
print(my_tuple)
my_dict = {"name" : "Deepanshu" , "age" : 27 , "city" : "Rotak"}
print(my_dict)

[1, 2, 3, 4, 5]
(6, 7, 8, 9, 10)
{'name': 'Deepanshu', 'age': 27, 'city': 'Rotak'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
my_list = [75,40,61,33,8]
my_list.sort()
print(my_list)

[8, 33, 40, 61, 75]

28.Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["abc","def","ghi","jkl","mno"]
my_list[3]

'jkl'

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
a ={"name":"ajay"}
b ={"marks": 90}
a.update(b)
print(a)

{'name': 'ajay', 'marks': 90}

30. Write a code to convert a list of strings into a set

In [ ]:
my_list = ["apple","banana","papaya"]
my_set = set(my_list)
print(my_set)

{'apple', 'papaya', 'banana'}